.App {
  text-align: center;
}

.buttonSettings {
  width: 243px;
  border-radius: 5px;
  border: none;
  background-color: #956cd9;
  padding: 10px 20px;
  cursor: pointer;
}

/*-------Counter---------*/

.counter {
  padding: 20px;
  margin: 10px auto;
  background-color: #a47de2;

  font-size: 20px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.count {
  margin-bottom: 20px;
  background-color: #8d5cdb;
  padding: 10px;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
}

.button button {
  padding: 10px 20px;
  background-color: #8d5cdb;
  border-radius: 3px;
  font-size: 16px;

}

.red {
  color: darkred;
  font-weight: bold;
  margin-bottom: 20px;

  background-color: #8d5cdb;
  padding: 10px;
  border-radius: 5px;
}

/*-------Settings----------*/

.settings {
  padding: 20px;
  margin: 10px auto;
  background-color: #a47de2;

  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settingsItem {
  margin-bottom: 10px;
}

.settings input {
  border-radius: 5px;
  border: none;
}

.settings button {
  padding: 5px 10px;
  background-color: #8d5cdb;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}

.error {
  color: darkred;
}