.AppCounter {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  display: flex
}


/*-------Counter1---------*/

.counter {
  padding: 20px;
  margin: 10px auto;
  background-color: #a47de2;

  font-size: 20px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.count {
  margin-bottom: 20px;
  background-color: #8d5cdb;
  padding: 10px;
  border-radius: 5px;
}

.button {
  padding: 5px;
  border-radius: 5px;

  display: inline-block;
}

.button button {
  padding: 7px 15px;
  background-color: #8d5cdb;
  border-radius: 3px;
  font-size: 16px;

}

.red {
  color: darkred;
  font-weight: bold;
  margin-bottom: 20px;

  background-color: #8d5cdb;
  padding: 10px;
  border-radius: 5px;
}

/*-------Settings2----------*/

.settings {
  padding: 20px;
  margin: 10px auto;
  background-color: #a47de2;

  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settingsItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.settings input {
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
}

.settings button {
  padding: 5px 10px;
  background-color: #8d5cdb;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}

.error {
  color: darkred;
}

.navigate {
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.navigate a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px;
}

.navigate a:active {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px;
  box-shadow: 0 0 5px rgb(115, 47, 255) inset;
  color: #8d5cdb;
}